.counter {
  display: none;
  text-align: right;
}

@media screen and (min-width: 768px){
  .counter {
    display: block;
  }
}

.counter__header {
  color: #e40321;
  font-size: 1rem;
}
.counter__number {
  color: #fff;
  font-size: 2rem;
}