.debt-table {}

.debt-table__header {
  color: #999;
  font-size: 0.7rem;
}

.debt-table__row {
  position: relative;
}

.debt-table__row--collapsed {
  height: 4rem;
}
.debt-table__row--expanded {
  background: #EAEAEA;
  height: 16rem;
}

@media screen and (min-width: 992px){
  .debt-table__row--expanded {
    height: 12rem;
  }
}

:root .debt-table__td {
  height: 75px;
  vertical-align: middle;
}
.debt-table__name {
  width: 40%;
}

.debt-table__nip {
  width: 30%;
}

.debt-table__value {
  width: 15%;
}

.debt-table__toggle {
  text-align: right;
  width: 15%;
}

.debt-table__inner {
  height: 50%;
}

.debt-table__caption {
  color: #555;
  font-size: .7rem;
}

.debt-table__link {
  color: #e40321;
  display: block;
}
.debt-table__link:visited {
  color: #e40321;
}
