.app {
  /*text-align: center;*/
  text-transform: uppercase;
}


.app__header {
  background-color: #003054;
  color: #FFFFFD;
  padding: 50px 20px;
  width: 100%;
}

.app-title {
  font-size: 1.5em;
}

.app__main {
  font-size: large;
}

.search {

}
.search__header {
  color: #fff;
  font-size: 1rem;
}

:root .search__text {}

@media screen and (min-width: 576px) {
  :root .search__text {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  :root .search__text {
    width: 50%;
  }
}



.search__submit {
  background: #e40321;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .search__submit {
    display: inline-block;
    width: auto;
  }
}